.wrapper {
  background-color: black;
  padding: 100px 0;
}
.title {
  color: #fff;
  font-size: 25px;
  text-align: center;
}
.ul {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.menuList {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}
.menuList:hover {
  text-decoration: underline;
}
